

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.section-title{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
}
.section-description{
    font-size: 16px;
}
.text-center {
    text-align: center;
}
/* header */
.header{
    background-image: url('../assets/Hero-bg.png');
    padding-top: 5px;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 60px;
    padding: 20px 50px;
}
.name{
    font-size: 28px;
    font-weight: 800;
}
.btn-pre{
    border-radius: 8px;
}
/* banner styles */
.banner-title{
    font-size: 48px;
    font-weight: 800;
    color: #0D1321;
}
.banner-description{
    font-size: 16px;
    font-weight: 400px;
}
.banner-content{
    align-items: center;
    margin: 50px 150px 0px 350px;
    justify-content: center right;
    padding: 10px 200px 5px 250px;
    
}
.banner{
    
    text-align: center;
}
.banner-text{
    text-align: center;
}
.btn-content{
    background-color: #0D1321;
    color: #FFFFFF;
    align-items: center;
    width: 200px;
    height: 60px;
}
/* web section style */

.btn-sec{
    font-size: 20px;
    font-weight: 600;
    width: 130px;
    height: 25px;
}
.web{
    margin-top: 50pxpx;
}

.web-container{
   justify-content: center;
   align-items: center;
   margin-left: 550px;
   padding: 40px;
}
.cooding-1 {
    display: flex;
    gap: 120px;
}
.creating{
    display: flex;
    margin-top: 32px;
    gap: 70px;
}
.cooding-2{
    display: flex;
    margin-top: 32px;
    gap: 120px;
}
/* motivation style */

.motiv-video{
    margin-left: 800px;
    width: 1120px;
    height: 700px;
}
/* current target style */
.target-container{
    margin-top: 48px;
    display: flex;
    gap: 28px;
    box-shadow: 0px, 4px, 4px, 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
    
}
.target-1{
    padding:30px;
    background-color: rgba(253, 204, 197, 0.21);
    
}
.target-2{
    padding: 30px;
    background-color: rgba(0, 76, 232, 0.05);
    

}
.target-3{
    padding: 30px;
    background-color: rgba(255, 223, 0, 0.05);
    
  
}
/* support style */
.support{
    background-image: url('../assets/handshake.jpg');
    max-width: 1400px;
    height: 450px;
    padding-top: 140px;
    margin-left: 300px;
    margin-top: 100px;
  
    
   
  
}
.button{
    justify-content: center;
    text-align: center;
    gap: 40px;
    
}
.btn-1{
    background-color: #FFFFFF;
    width: 450px;
    height: 55px;
    color: rgba(13, 19, 33, 0.15);
    
}
.btn-2{
    width: 100px;
    height: 55px;
    background-color: #FFFFFF;
}



 
   

